.calculator-page h1 {
  white-space: nowrap;
  margin: 25px 55px;
  padding: 5px;
  font-size: 2.5em;
  text-shadow: 5px 5px 5px rgba(133, 171, 236, 0.5);
}

.calculator {
  margin: 25px 70px;
  /* padding: 30px 30px 30px 50px; */
  min-width: 550px;
  border: 1px solid rgb(135, 153, 174);
}

.calculator h2 {
  white-space: nowrap;
  color: #7db0e2;
  font-size: 30px;
  margin: 35px 20px;
}

.calculator-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: large;
}

.calculator-container label {
  display: inline-block;
  width: 64.1px;
  font-weight: bold;
  font-size: 25px;
}

.calculator-container span {
  font-size: 25px;
}

.before-container,
.after-container {
  white-space: nowrap;
  width: 400px;
  padding: 0 20px;
  margin: 5px;
}

.before,
.after {
  width: 250px;
  margin: 10px;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 3px;
  font-size: 40px;
  outline: none;
  transition: border-color 0.3s;
}

.before:focus,
.after:focus {
  border-color: rgb(0, 8, 50);
}

.add-button-container,
.sub-button-container {
  padding-left: 170px;
  width: 400px;
}

.add-button-container button,
.sub-button-container button {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-size: 18px;
  border: none;
  border-bottom: 3px solid #ffffff;
  margin: 8px;
  padding: 8px;
  width: 38px;
}

.add-button-container button:hover,
.sub-button-container button:hover {
  background-color: rgba(78, 82, 106, 0.7);
}

.add-button-container button:active,
.sub-button-container button:active {
  background-color: rgba(146, 152, 186, 0.5);
  border-bottom: 3px solid #7b8de4;
}
