.country-card-container {
  display: flex;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin: 8px 0;
  background-color: #f9f9f9;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  align-items: center;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
}

.country-card-container:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.country-item {
  text-decoration: none;
  color: inherit;
}

.country-item h3 {
  margin: 0;
  font-size: 1.2em;
  color: #333;
}

.country-item p {
  margin: 4px 0;
  color: #666;
}

.positive-rate {
  color: red;
}

.negative-rate {
  color: blue;
}

/* 즐겨찾기 */

.country-card-Information {
  width: 85%;
}

.favorite {
  display: flex;
  flex-direction: row;
  width: 124.9px;
  align-items: center;
  cursor: pointer;
}

.favorite input[type="checkbox"] {
  margin-right: 10px;
  width: 1em;
  height: 1em;
}
