/* 제목 */
.countryPage h1 {
  margin: 40px;
  padding: 5px;
  font-size: 2.5em;
}

/* 상세 페이지 */

.countryImformationContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 50px;
  padding: 30px;
  padding-left: 50px;
  /* background-color: rgba(57, 57, 112, 0.381); */
  border: 2px solid rgb(170, 226, 226);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.countryImformationContainer h2 {
  font-size: 2em;
  margin-bottom: 20px;
  color: rgb(170, 226, 226);
}

.countryImformationContainer ul {
  list-style-type: none;
  padding: 0;
}

.countryImformationContainer li {
  margin-bottom: 15px;
  font-size: 1.2em;
}

.calculator {
  margin: 50px;
  padding: 15px;
}

.calculator h2 {
  color: rgb(170, 226, 226);
}

.calculatorContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: large;
}

.calculatorContainer label {
  display: inline-block;
  width: 64.1px;
}

.beforeContainer,
.afterContainer {
  width: 400px;
  padding: 0 20px;
}

.before,
.after {
  width: 200px;
  margin: 10px;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 3px;
  font-size: 20px;
  outline: none;
  transition: border-color 0.3s;
}

.before:focus,
.after:focus {
  border-color: rgb(0, 8, 50);
}

.addButtonContainer,
.subButtonContainer {
  padding-left: 170px;
}

.addButtonContainer button,
.subButtonContainer button {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-size: 18px;
  border: none;
  border-bottom: 3px solid #ffffff;
  margin: 8px;
  padding: 8px;
  width: 38px;
}

.addButtonContainer button:hover,
.subButtonContainer button:hover {
  background-color: rgba(53, 57, 82, 0.5);
}

.addButtonContainer button:active,
.subButtonContainer button:active {
  background-color: rgba(146, 152, 186, 0.5);
  border-bottom: 3px solid #7b8de4;
}

#divBtn {
  width: 45px;
}
