/* 제목 */

.countryPage h1 {
  margin: 40px;
  padding: 5px;
  font-size: 2.5em;
}

/* 상세 페이지 */

.countryImformationContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 50px;
  padding: 30px;
  padding-left: 50px;
  /* background-color: rgba(57, 57, 112, 0.381); */
  border: 2px solid rgb(170, 226, 226);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.countryImformationContainer h2 {
  font-size: 2em;
  margin-bottom: 20px;
  color: rgb(170, 226, 226);
}

.countryImformationContainer ul {
  list-style-type: none;
  padding: 0;
}

.countryImformationContainer li {
  margin-bottom: 15px;
  font-size: 1.2em;
}

.calculator {
  margin: 50px;
  padding: 15px;
}

.before,
.after {
  width: 200px;
  margin: 10px;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 3px;
  font-size: 20px;
  outline: none;
  transition: border-color 0.3s;
}

.before:focus,
.after:focus {
  border-color: rgb(0, 8, 50);
}
